<h1>Here are your memes</h1>
<div class="container">
    {{#each memes}}
    <div class="meme">
        <!--<a href="/getDetails/{{this._id}}" data-id="{{this._id}}"> --> 
    <img class="memePoster" src="{{this.memePath}}">          
    <p style="text-align: center">{{this.memeName}}</p>
    </div>
    {{else}}
        <p style="text-align: center"><i>No memes found</i></p>
    {{/each}}
</div>